@import '../../_styles/colors';
@import '../../_styles/constants';

.semantic-button-content {
  :not(:first-child) {
    margin-left: 0.8rem;
  }
}

.btn-primary {
  background-color: $button-primary-color !important;
  color: white !important;
}

.btn-secondary {
  background-color: $primary !important;
  color: $button-primary-color !important;
}

.btn-warning {
  background-color: $red !important;
  color: white !important;
}
