.create-conference {
  width: 65rem;
  max-width: 65rem;

  .conference-rooms {
    margin-top: 5rem;

    .room-row {
      width: 65rem;
      margin-bottom: 2.5rem;

      .delete-room {
        width: 3.5rem;
        height: 3.2rem;
        margin-top: auto;
      }
    }
  }
}
