.create-conference {
  width: 65rem;
  max-width: 65rem;

  .conference-rooms {
    margin-top: 5rem;

    .room-row {
      margin-bottom: 2.5rem;

      .delete-room {
        max-width: 0;
        margin-left: 0.5rem;
        height: 3.2rem;
        margin-top: auto;
      }
    }
  }
}
