div.ui.container.programs-overview {
  padding-left: 0;
  margin-top: 2rem;
}

.programs-overview {
  h2 {
    margin-bottom: 1.5rem;
  }
  .action-column {
    width: 7rem;
  }

  .planning-action-column {
    width: 10rem;
  }

  .time-column {
    width: 13rem;
  }
}
