div.ui.container.programs-overview {
  margin-left: 0;
}

.programs-overview {
  .programs-table {
    margin-left: 0rem;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  .action-column {
    width: 8rem;
  }

  .time-column {
    width: 13rem;
  }
}
