$primary: #002548;
$text-color: #181616;

$shadow: rgba(34, 36, 38, 0.15);
$white-transparent: rgba(255, 255, 255, 0.2);

$grey: #999fa3;
$grey-dark: #56585c;
$grey-light: #ebeced;
$red: #e45f55;
$green: #24c289;
$orange: #ed8f21;
$orange: orange;
$white: #ffffff;
