@import '../../_styles/colors';

.actions-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.planning-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid $text-color;
  border-radius: 3px;

  .row {
    width: 100%;
    height: 10rem;
    position: relative;
    display: flex;
    flex-direction: row;

    * {
      padding: 0.3rem;
      color: $text-color;
    }

    .header {
      flex-grow: 1;
      background-color: $secondary-color;
      border-left: 0.2px solid $text-color;
      border-right: 0.2px solid $text-color;
      border-bottom: 0.2px solid $text-color;
      height: 4rem;
      h4 {
        color: $white;
        margin: 0 auto;
      }
    }

    .hour-cell-header {
      height: 4rem;
      width: 10%;
    }

    .hour-cell {
      background-color: $primary;
      width: 10%;
      border-top: 0.6px solid $white;

      p {
        text-align: center;
      }
    }

    .cell {
      padding: 0;
      flex-grow: 1;
      border-left: 1.2px solid $primary;
      border-bottom: 1px solid $primary;

      .event {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 0.7px solid $white;

        p {
          height: 3rem;
          max-width: 90%;
        }
      }

      .session-event {
        flex-direction: column;
        background-color: $accent-opacity;
      }

      .title-event {
        width: 89.8%;
        background-color: $accent-two;
      }

      /* Cell sizing */
      .cell-width-2 {
        width: 44.8%;
      }

      .cell-width-3 {
        width: 29.8%;
      }

      .cell-width-4 {
        width: 22.3%;
      }

      .cell-width-5 {
        width: 17.8%;
      }

      .cell-width-6 {
        width: 14.8%;
      }

      .cell-width-7 {
        width: 12.6%;
      }

      .cell-height-30 {
        height: 100%;
      }

      .cell-height-60 {
        height: 200%;
      }

      .cell-height-90 {
        height: 300%;
      }

      .cell-height-120 {
        height: 400%;
      }

      .cell-height-150 {
        height: 500%;
      }
    }
  }

  .row:first-of-type {
    height: 4rem;
  }
}
