@import '../../_styles/colors';

.actions-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.planning-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid $text-color;
  border-radius: 3px;

  .row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;

    * {
      padding: 2px;
      color: $text-color;
    }

    .header {
      background-color: $primary;
      border-left: 0.2px solid $text-color;
      border-right: 0.2px solid $text-color;
      border-bottom: 0.2px solid $text-color;
      h4 {
        margin: 0 auto;
      }
    }

    .hour-cell-header {
      width: 10%;
    }

    .hour-cell {
      width: 10%;
      background-color: $accent-opacity;
      border-top: 0.6px solid $primary;

      p {
        text-align: center;
      }
    }

    .cell {
      border-left: 1.2px solid $primary;
      border-bottom: 1px solid $primary;
    }

    /* Column sizing */
    .cols-2 {
      width: 45%;
    }

    .cols-3 {
      width: 30%;
    }

    .cols-4 {
      width: 22.5%;
    }

    .cols-5 {
      width: 18%;
    }

    .cols-6 {
      width: 15%;
    }

    .cols-7 {
      width: 12.8%;
    }
  }
}
