@import '../../_styles/colors';

.date-time-selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .react-datepicker,
  .react-datepicker-time__header {
    font-size: 1.2rem;
  }

  label {
    font-size: 1.5rem;
    color: $grey-dark;
  }
}
